Django==4.2.27
gunicorn==23.0.0
asgiref==3.11.0
pytz==2022.7.1
sqlparse==0.5.4
typing_extensions==4.15.0
packaging<25.0,>=24.2
dill==0.4.0
importlib_metadata==8.7.0
platformdirs==4.4.0
attrs==20.3.0

