name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write  # Needed to assume AWS role via OIDC

jobs:
pipeline:
  runs-on: ubuntu-latest

  steps:
  - name: Checkout repository
    uses: actions/checkout@v4

  - name: Set up Python
    uses: actions/setup-python@v5
    with:
      python-version: "3.9"

  - name: Install dependencies
    run: |
      python -m pip install --upgrade pip
      if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      pip install pylint sonar-scanner awscli

  - name: Run Pylint
    run: |
      pylint $(git ls-files '*.py')

  - name: SonarCloud Analysis
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    run: |
      sonar-scanner \
          -Dsonar.projectKey=aftabkhan41ak92-collab_tracker \
          -Dsonar.organization=aftabkhan41ak92-collab \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.login=$SONAR_TOKEN

  - name: Configure AWS Role
    uses: aws-actions/configure-aws-credentials@v2
    with:
      role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
      aws-region: ${{ secrets.AWS_REGION }}

  - name: Deploy to Elastic Beanstalk
    run: |
      zip -r deploy.zip .
      aws elasticbeanstalk create-application-version \
        --application-name ${{ secrets.EB_APPLICATION }} \
        --version-label v${{ github.run_number }} \
        --source-bundle S3Bucket=""elasticbeanstalk-us-east-1-676882682744"",S3Key="deploy.zip"
      aws elasticbeanstalk update-environment \
        --environment-name ${{ secrets.EB_ENVIRONMENT }} \
        --version-label v${{ github.run_number }}
